/*
MY COLOR PALETTE
Background color - #521c1e
Tan - #efd0b9
Pinkish Tan - #c19d92
White - #ffffff
Burgundy - #4e1420
*/

@media{

img {
    width: 330px;
    padding: 10px;
    margin-top: 20px;
    border:none;
    border-radius: 30px;
    margin: 10px
}

#navigation {
    background-color:#c19d92;
    padding: 8px;
    margin-top: 100px;
  
   
}

h1 {
    font-family: "Merienda", cursive;
    font-size: 55;
    color: #efd0b9;
}

h2 {
    font-family: "Nunito", serif;
    font-size: 35px;
    color: #ffffff;
}

h3{
    font-family: "Nunito", serif;
    color: #4e1420;
    text-align:center;
}

body {
    background-color: #521c1e;
    text-align: left;
    font-family: "Nunito", serif;
}

button {
    background-color: #efd0b9;
    color: #4e1420;
    font-family: 'Merienda', cursive;
    font-size: 24px;
    font-weight: 400;
    width: 200px;
    padding: 6px;
    margin-top: 40px;
    border: none;
    border-radius: 9px;
}

button:hover {
    background-color: #c19d92;
}
    button a {
        color:#4e1420;
        text-decoration: none;
    }
    
    h1{
       border-bottom: 2px solid;
        padding: 30px;
    }

.copyright {
    background-color: #c19d92;
    color: #4e1420;
    font-style: italic;
    font-family: "Nunito", serif;
    text-align: left;
}

.jobtitle
{
    color:#ffffff; 
     font-weight: 800;
    font-size: 20px;
    font-family: "Nunito", serif;
    
}

.jobcompany {
    color: #efd0b9;
    font-style: italic;
    font-family: "Nunito", serif;
}

.jobdate {
    color: #efd0b9;
    font-family: "Nunito", serif;
}

.jobdescription {
    color: #efd0b9;
    font-family: "Nunito", serif;
}

.list {
    color: #ffffff;
    font-family: "Nunito", serif;
}

.degree {
    color: #ffffff;
    font-weight: 800;
    font-size: 20px;
    font-family: "Nunito", serif;
}

.School {
    color: #efd0b9;
    font-style: italic;
    font-family: "Nunito", serif;
}

.year {
    color:#efd0b9;
    font-family: "Nunito", serif;
}
    
}


@media (min-width:576px) {
    h1{
        font-size:50px;
    }
    img {
        margin: 10px;
    }
}